@model WebCalc.Models.OperationViewModel

@{
    ViewBag.Title = "OperationHistory";
}


<table>
    <tr>
        <th>Операция</th>
        <th>Аргументы</th>
        <th>Результат</th>
        <th>Время подсчета</th>
        <th>Дата</th>
    </tr>
    @foreach (var item in Model.OperationHistory)
    {
        <tr>
            <td>@item.OperationName </td>
            <td>@item.Arguments </td>
            <td>@item.Result </td>
            <td>@item.ExecutionTime </td>
            <td>@item.ExecutionDate </td>
        </tr>
    }
</table>