@model IEnumerable<DBModel.Models.OperationResult>

@{
    ViewBag.Title = "History";
}

<h2>History</h2>

<p>
    @Html.ActionLink("Вычислить что-то", "Index")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OperationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Arguments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Result)
        </th>
        <th>
            Инициатор
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExecutionTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExecutionDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OperationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Arguments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Result)
            </td>
            <td>
                @if (item.Iniciator != null)
                {
                    @Html.DisplayFor(modelItem => item.Iniciator.Name)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExecutionTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExecutionDate)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>